@font-face {
  font-family: "Afacad";
  font-weight: 400;
  font-style: normal;
  src: local("Afacad Regular"), local("Afacad"),
    url("/fonts/Afacad/Afacad-Regular.woff2") format("woff2"),
    url("/fonts/Afacad/Afacad-Regular.woff") format("woff");
  font-display: swap;
}

/* TODO: Afacad bold */
