:root {
  color-scheme: light dark;
  --fg: light-dark(#111215, #f2f7fc);
  --fg-soft: light-dark(#2c2c2e, #dee2e7);
  --bg: light-dark(#f2f7fc, #111215);
  --bg-soft: light-dark(#9d9ea2, #555);
}

.btn {
  border: 2px solid var(--fg);
  /* margin: 0.5rem; */
  padding: 0.125rem 1.25rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: 600;
  font-feature-settings: "ss03" 1;
  font-family: "Roboto";
  transition: transform 150ms, box-shadow 150ms;
  user-select: none;
}

.btn-bg:hover > .btn,
.btn-bg:focus-visible > .btn,
.btn-bg:active > .btn {
  outline: none;
  box-shadow: 2px 2px 0px var(--bg), 3px 3px 0px var(--fg);
  transform: translate(-2px, -2px);
}

@media (max-width: 570px) {
  .btn {
    font-size: 1.25rem;
    padding: 0.125rem 1rem;
  }
}

@media (max-width: 470px) {
  .btn {
    font-size: 1rem;
    padding: 0.125rem 0.75rem;
  }
}

@media (max-width: 400px) {
  .btn {
    font-size: 0.875rem;
    padding: 0.125rem 0.5rem;
  }
}

#root {
  color: var(--fg);
  background-color: var(--bg);

  min-height: 100dvh;
  min-width: 100dvw;
  font-family: "Afacad";
  font-size: 1.5rem;
  position: relative;
  overflow: hidden;
}
#content {
  position: relative;
  width: 100dvw;
  max-width: 1200px;
  z-index: 5;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
*::selection {
  color: var(--bg);
  background-color: var(--fg);
  filter: invert(1);
}
p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}
p {
  margin-left: 1.5rem;
  max-width: 640px;
  text-indent: 1ch;
}

p,
li {
  color: var(--fg-soft);
}

h1 {
  font-size: 4rem;
}
a {
  color: var(--fg);
}
a:hover {
  text-decoration-style: dashed;
}
.btn a,
a.btn {
  text-decoration: none;
}
header {
  display: grid;
  width: min(calc(100dvw - 2rem), 900px);
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}

main {
  width: 100%;
  margin-top: 6vh;
  padding: 0.5rem;
}

img {
  color: var(--fg);
}
