---
import Inner from "../layouts/Inner.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <Inner>
    <img height="100" alt="Hero image saying 'Styx'" src="/hero.svg" />
    <p>
      Full-stack developer with a love for unusual design, typography
      <br />and shipping less JavaScript.
    </p>
    <p>
      Skilled in the arcane arts of the frontend and the mystical ways of the
      backend.
    </p>
    <p>
      Experienced with rapid iteration, technologies that actually work and
      building applications that actually get use.
    </p>
  </Inner>
</Layout>
