<script>
  // function getRandomArbitrary(min: number, max: number) {
  //   return Math.random() * (max - min) + min;
  // }
  // const groups = document.getElementsByTagName("g");

  // let i = 0;
  // for (const group of groups) {
  // group.style.stroke = "";
  // group.style.animationDuration = getRandomArbitrary(20, 160) + "s";
  // group.style.stroke = `hsl(${i * 10}deg 100% 50%)`;
  // group.style.stroke = `oklch(100% 0.6 ${i * 10}deg)`;
  // group.style.stroke = "#555";
  // group.style.stroke = `hsl(${Math.floor(Math.random() * 360)}deg 100% 50%)`;
  // i++;
  // }

  // const svg = document.getElementById("bg");

  // if (svg) {
  //   const els = svg.getElementsByTagName("circle");
  //   const arr = [...els];
  // arr
  //   .sort((a, b) => a.cy.baseVal.value - b.cy.baseVal.value)
  //   .sort((a, b) => a.cx.baseVal.value - b.cx.baseVal.value)
  //   .sort((a, b) => a.r.baseVal.value - b.r.baseVal.value);
  // arr.sort(
  //   (a, b) =>
  //     a.cy.baseVal.value +
  //     a.cx.baseVal.value +
  //     a.r.baseVal.value -
  //     (b.cy.baseVal.value + b.cx.baseVal.value + b.r.baseVal.value)
  // );

  // for (let index = 0; index < arr.length; index++) {
  // const el = arr[index];
  // el.style.stroke = `hsl(${(index / arr.length) * 360}deg 100% 50%)`;
  //   }
  // }
</script>

<style>
  svg {
    stroke: var(--bg-soft);
    stroke-width: 2;
    --speed-stop: 1;
    --speed-mul-1: 1;
    --speed-mul-2: 1;
    --speed-mul-3: 1;
    --speed-mul-4: 1;
  }

  circle,
  rect {
    fill: none;
    stroke-miterlimit: 10;
  }
  .ac {
    stroke-dasharray: 0 0 0 0 12 3 3 3;
  }

  .ad {
    stroke-dasharray: 0 0 0 0 3 3 3 3;
  }

  .ae {
    stroke-dasharray: 0 0 36 24;
  }

  .af {
    stroke-dasharray: 0 0 3 12;
  }
  div {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 98vw;
    z-index: 1;
    display: flex;
    margin: 1vw;
    align-items: center;
    justify-content: center;
    pointer-events: none;
  }
  @media screen and (min-height: 100vw) {
    div {
      height: 100vh;
      width: 100vh;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  @media (prefers-reduced-motion) {
    svg {
      --speed-stop: 0;
    }
  }

  g[id*="inner"] {
    --speed-mul-1: 1.25;
  }
  g[id*="outter"] {
    --speed-mul-1: 0.77;
  }
  g[id*="middle"] {
    --speed-mul-3: 1.43;
  }
  g[id*="greebles"] {
    --speed-mul-2: 0.5;
  }
  g[id*="1"] {
    --speed-mul-4: 0.86;
  }
  g[id*="2"] {
    --speed-mul-4: 1.16;
  }
  g {
    animation: spin 100s linear infinite;
    animation-duration: calc(
      200s * var(--speed-mul-1) * var(--speed-mul-2) * var(--speed-mul-3) *
        var(--speed-mul-4) * var(--speed-stop)
    );
    transform-origin: center;
  }
  g:nth-child(4n) {
    animation-name: spin-reverse;
  }
  .ad {
    --speed-mul-1: 0.73;
  }
  circle.ad,
  circle.ac,
  circle.ae,
  circle.af {
    transform-box: fill-box;
    transform-origin: 50% 50%;
    animation: spin 120s linear infinite;
    animation-duration: calc(120s * var(--speed-mul-1) * var(--speed-stop));
  }
  circle.ac {
    animation-name: spin-reverse;
  }
  @keyframes spin {
    0% {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @keyframes spin-reverse {
    0% {
      transform: rotate(0);
    }
    to {
      transform: rotate(-360deg);
    }
  }
</style>
<div>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2050 2050" id="bg">
    <g id="rings">
      <circle cx="1025" cy="1025" r="1024"></circle>
      <circle cx="1025" cy="1025" r="971.72"></circle>
      <circle class="ac" cx="1025" cy="1025" r="1000"></circle>
      <circle
        style="stroke-dasharray: 1%,10%,1%;"
        cx="1025"
        cy="1025.28"
        r="830.3"></circle>
      <circle cx="1025" cy="1025" r="700"></circle>
      <circle
        class="ae"
        style="stroke-dasharray: 40,30;"
        cx="1025"
        cy="1025"
        r="560"></circle>
      <circle cx="1025" cy="1025" r="432.36"></circle>
      <circle cx="1025" cy="1025" r="267.38"></circle>
      <circle cx="1025" cy="1025" r="200"></circle>
    </g>
    <g id="arcana">
      <rect
        x="429.17"
        y="779.59"
        width="491.75"
        height="491.75"
        transform="translate(-527.4 777.68) rotate(-45)"></rect>
      <circle cx="1372.84" cy="1026.12" r="349.2"></circle>
      <rect
        x="390.29"
        y="873.47"
        width="303.95"
        height="303.95"
        transform="translate(-566.28 683.79) rotate(-45)"></rect>
      <rect
        x="366.07"
        y="931.89"
        width="187.33"
        height="187.15"
        transform="translate(-590.46 625.44) rotate(-45)"></rect>
      <circle cx="1507.09" cy="1025.38" r="214.95"></circle>
      <circle cx="1589.57" cy="1026.12" r="132.39"></circle>
    </g>
    <g id="middle-greebles1">
      <circle cx="387" cy="1037.04" r="13.06"></circle>
      <circle cx="397.26" cy="1012.78" r="13.06"></circle>
      <circle cx="1651.14" cy="1037.04" r="13.06"></circle>
      <circle cx="1661.4" cy="1012.78" r="13.06"></circle>
      <rect x="659.42" y="660.13" width="33.59" height="33.59"></rect>
      <rect
        x="1355.39"
        y="1356.09"
        width="33.59"
        height="33.59"
        transform="translate(-568.87 1372.39) rotate(-45)"></rect>
    </g>
    <g id="middle-greebles2">
      <circle cx="1025" cy="1481.77" r="19.69"></circle>
      <circle cx="1025" cy="1521.24" r="11.94"></circle>
      <circle cx="1025" cy="1560.7" r="19.69"></circle>
      <line x1="1010.02" y1="1495.67" x2="998.54" y2="1507.15"></line>
      <circle cx="993.23" cy="1513.12" r="8.02"></circle>
      <circle cx="1025" cy="529.51" r="30.04"></circle>
      <circle cx="1025" cy="482.68" r="11.57"></circle>
      <circle cx="1025" cy="576.16" r="11.57"></circle>
    </g>
    <g id="outter-center-greebles">
      <circle cx="959.14" cy="781.41" r="15"></circle>
      <rect
        x="1317.84"
        y="999.71"
        width="50.94"
        height="50.94"
        transform="translate(-331.46 1250.13) rotate(-45)"></rect>
      <rect
        x="1242.32"
        y="1008.66"
        width="33.31"
        height="33.31"
        transform="translate(-356.26 1190.54) rotate(-45)"></rect>
      <circle cx="706.68" cy="1025" r="36"></circle>
      <circle cx="791" cy="1025" r="23.6"></circle>
    </g>
    <g id="inner-greebles">
      <rect
        x="900"
        y="900"
        width="250"
        height="250"
        transform="translate(-424.56 1025) rotate(-45)"></rect>
      <g id="inner-greebles-sub1">
        <circle cx="1080.64" cy="1082.28" r="32.19"></circle>
        <line x1="1039.13" y1="1040.77" x2="1057.79" y2="1059.43"></line>
      </g>
      <g id="inner-greebles-sub2">
        <circle cx="1000.88" cy="1002.52" r="7.46"></circle>
        <rect x="984.08" y="985.72" width="7.5" height="7.5"></rect>
      </g>
      <g id="inner-greebles-sub3">
        <circle cx="1073.65" cy="976.4" r="7.5"></circle>
        <rect x="1082.98" y="959.6" width="7.5" height="7.5"></rect>
      </g>
      <g id="inner-greebles-sub4">
        <circle cx="948.63" cy="1101.41" r="7.5"></circle>
      </g>
      <g id="inner-greebles-sub5">
        <line x1="1025" y1="1005.32" x2="1025" y2="947.47"></line>
        <circle cx="1025" cy="935.35" r="12.13"></circle>
      </g>
      <g id="inner-greebles-sub6">
        <circle cx="1025" cy="1025" r="20"></circle>
        <line x1="1004.14" y1="1025" x2="943.59" y2="1025"></line>
        <rect
          x="911.31"
          y="1011.47"
          width="27.06"
          height="27.06"
          transform="translate(-453.91 954.18) rotate(-45)"></rect>
      </g>
    </g>
    <g id="dashed-rings">
      <circle class="ac" cx="1025" cy="1025" r="280"></circle>
      <circle class="af" cx="1025" cy="1025" r="315"></circle>
      <circle class="ad" cx="1025" cy="1025" r="300"></circle>
      <circle class="ad" cx="1025" cy="530" r="25"></circle>
      <circle class="ac" cx="1025" cy="1025" r="712.92"></circle>
      <circle class="af" cx="1025" cy="1025" r="737.5"></circle>
      <circle class="ad" cx="1025" cy="1025" r="725.21"></circle>
    </g>
    <g id="inner-middle-greebles">
      <circle cx="1158" cy="891" r="11.75"></circle>
      <rect x="883.5" y="1150" width="16.2" height="16.2"></rect>
      <rect x="1133.5" y="900" width="16.2" height="16.2"></rect>
      <circle cx="907.85" cy="1141.38" r="11.82"></circle>
    </g>
    <g id="outter-middle-greebles1">
      <circle cx="1396.3" cy="654.15" r="33.94"></circle>
      <rect x="630.3" y="1367.78" width="53" height="53"></rect>
      <rect x="1330.93" y="678.41" width="41.08" height="41.08"></rect>
      <circle cx="701.56" cy="1347.5" r="25"></circle>
    </g>
    <g id="outter-middle-greebles2">
      <line class="ad" x1="530.21" y1="1520.21" x2="555.9" y2="1494.51"></line>
      <circle cx="580" cy="1470" r="35"></circle>
      <circle cx="580" cy="1470" r="12.5"></circle>
      <circle cx="580" cy="1470" r="1"></circle>
      <circle class="ad" cx="580" cy="1470" r="25"></circle>
      <circle class="ad" cx="580" cy="1470" r="50"></circle>
    </g>
    <g id="outter-greebles1">
      <circle cx="1690.17" cy="360.23" r="31.94"></circle>
      <rect x="1614.4" y="383.33" width="52.67" height="52.67"></rect>
      <circle class="ad" cx="1640.74" cy="409.66" r="15"></circle>
      <circle class="ad" cx="1690.17" cy="360.23" r="15"></circle>
      <circle cx="362.33" cy="1690.71" r="31.94"></circle>
      <rect x="386.5" y="1612.5" width="52" height="52"></rect>
      <circle class="ad" cx="412.43" cy="1639.06" r="15"></circle>
      <circle class="ad" cx="362.33" cy="1690.71" r="15"></circle>
      <circle cx="1905.43" cy="1019.29" r="15"></circle>
      <circle cx="1927.39" cy="1001.18" r="12.5"></circle>
      <circle cx="1941.55" cy="1036.32" r="25"></circle>
      <circle class="ad" cx="1941.55" cy="1036.32" r="12.5"></circle>
      <circle
        cx="434.2"
        cy="433.47"
        r="135.72"
        transform="translate(-179.34 433.99) rotate(-45)"></circle>
      <circle cx="397.31" cy="396.58" r="83.54"></circle>
      <circle
        cx="374.64"
        cy="373.91"
        r="51.45"
        transform="translate(-154.67 374.43) rotate(-45)"></circle>
      <rect x="1520.6" y="1519.91" width="191.9" height="191.9"></rect>
      <rect x="1593.57" y="1592.89" width="118.93" height="118.93"></rect>
      <rect x="1639.22" y="1638.57" width="73.3" height="73.22"></rect>
    </g>
    <g id="outter-greebles2">
      <rect
        x="981.91"
        y="1809.79"
        width="86.18"
        height="86.18"
        transform="translate(1610.39 -182.09) rotate(45)"></rect>
      <rect
        x="1008.21"
        y="1774.91"
        width="33.59"
        height="33.59"
        transform="translate(-966.71 1249.56) rotate(-45)"></rect>
      <rect
        x="1008.54"
        y="1897.26"
        width="33.59"
        height="33.59"
        transform="translate(-1053.13 1285.63) rotate(-45)"></rect>
      <circle class="ad" cx="1025" cy="1855.58" r="15"></circle>
    </g>
    <g id="outter-greebles3">
      <line class="ad" x1="194.7" y1="1025" x2="158.36" y2="1025"></line>
      <circle cx="123.36" cy="1025" r="35"></circle>
      <circle class="ad" cx="123.36" cy="1025" r="25"></circle>
      <circle cx="123.36" cy="1025.47" r="12.5"></circle>
      <circle cx="123.36" cy="1025.28" r=".96"></circle>
    </g>
    <g id="outter-greebles4">
      <circle cx="1025" cy="1725" r="37.5"></circle>
      <circle cx="1137.5" cy="1715" r="25"></circle>
      <circle cx="1200" cy="1700" r="12.5"></circle>
    </g>
    <g id="outter-greebles5">
      <circle cx="1026.16" cy="1650" r="12.5"></circle>
      <circle cx="1026.16" cy="1650" r="1"></circle>
    </g>
    <g id="outter-greebles6">
      <circle cx="1025" cy="137.07" r="12.5"></circle>
      <circle cx="950" cy="238.13" r="12.5"></circle>
      <circle cx="1025" cy="195.05" r="37.5"></circle>
      <circle cx="1025" cy="195.05" r="112.5"></circle>
      <line x1="993" y1="215" x2="961.38" y2="231.46"></line>
      <circle class="af" cx="1025" cy="195.36" r="125.1"></circle>
      <circle class="ad" cx="1025" cy="195.05" r="42"></circle>
      <circle class="ad" cx="950" cy="238.13" r="20"></circle>
    </g>
    <g id="outter-greebles7">
      <line class="ad" x1="1025" y1="1457.51" x2="1025.17" y2="1427.5"></line>
      <line class="ad" x1="1025" y1="1325" x2="1025.17" y2="1358.5"></line>
      <circle cx="1025.33" cy="1393.04" r="35"></circle>
      <circle class="ad" cx="1025.33" cy="1393.04" r="25"></circle>
    </g>
    <g id="outter-middle-greebles">
      <rect
        x="980"
        y="421"
        width="90"
        height="90"
        transform="translate(629.72 -588.3) rotate(45)"></rect>
      <rect
        x="968.32"
        y="450"
        width="33.59"
        height="33.59"
        transform="translate(-40.98 833.06) rotate(-45)"></rect>
      <rect
        x="1048.1"
        y="450"
        width="33.59"
        height="33.59"
        transform="translate(-17.61 889.48) rotate(-45)"></rect>
      <circle cx="1025.33" cy="426.11" r="11.57"></circle>
    </g>
  </svg>
</div>
