<div>
  <svg
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    x="0px"
    y="0px"
    viewBox="0 0 1920 1080"
    enable-background="new 0 0 1920 1080"
    xml:space="preserve"
  >
    <g id="circles">
      <g id="outter-circle-dashed-outter" class="inactive">
        <circle cx="960" cy="540" r="1098"></circle>
      </g>
      <g id="outter-circle-outter" class="inactive">
        <circle cx="961.6" cy="540" r="1037.7"></circle>
        <circle cx="961.6" cy="540" r="1067.9"></circle>
      </g>
      <g id="outter-dashes" class="inactive">
        <circle cx="964.8" cy="540.3" r="890.3"></circle>
      </g>
      <g id="outter-circle-mid" class="inactive">
        <circle cx="960" cy="540" r="747.4"></circle>
      </g>
      <g id="outter-circle-inner" class="inactive">
        <ellipse cx="960" cy="540" rx="599.9" ry="599.4"></ellipse>
      </g>
      <g id="mid-dashes" class="inactive">
        <circle cx="960" cy="540" r="463.6"></circle>
      </g>
      <g id="mid-circle-mid" class="inactive">
        <circle cx="960" cy="540" r="286.7"></circle>
      </g>
      <g id="mid-circle-inner" class="inactive">
        <circle cx="960" cy="540" r="215.1"></circle>
      </g>
      <g id="center-square" class="inactive">
        <rect
          x="826"
          y="406"
          transform="matrix(0.7071 0.7071 -0.7071 0.7071 663.0151 -520.6602)"
          width="268"
          height="268"></rect>
      </g>
    </g>
    <g id="outter">
      <g id="outter-square-circle">
        <rect
          x="321.7"
          y="276.6"
          transform="matrix(0.7071 0.7071 -0.7071 0.7071 553.359 -255.6715)"
          width="527.1"
          height="527.1"></rect>
        <circle cx="1333.2" cy="540.8" r="374.3"></circle>

        <rect
          x="280"
          y="377.2"
          transform="matrix(0.7071 0.7071 -0.7071 0.7071 511.6589 -154.9986)"
          width="325.8"
          height="325.8"></rect>

        <rect
          x="254.2"
          y="439.7"
          transform="matrix(0.7071 0.7071 -0.7071 0.7071 485.7079 -92.475)"
          width="200.6"
          height="200.8"></rect>
        <circle cx="1477.1" cy="540" r="230.4"></circle>
        <circle cx="1565.5" cy="540.8" r="141.9"></circle>
      </g>
      <g id="outter-greebles0">
        <circle cx="276.5" cy="552.5" r="14"></circle>
        <circle cx="287.5" cy="526.5" r="14"></circle>
        <circle cx="1631.5" cy="552.5" r="14"></circle>
        <circle cx="1642.5" cy="526.5" r="14"></circle>
        <rect x="568.5" y="148.5" width="36" height="36"></rect>

        <rect
          x="1314.5"
          y="894.5"
          transform="matrix(0.7071 0.7071 -0.7071 0.7071 1035.5151 -674.9547)"
          width="36"
          height="36"></rect>
      </g>
      <g id="outter-greebles1">
        <circle cx="959.3" cy="1029.2" r="21.1"></circle>
        <circle cx="959.3" cy="1071.5" r="12.8"></circle>
        <circle cx="959.3" cy="1113.8" r="21.1"></circle>
        <line x1="944.3" y1="1044.1" x2="932" y2="1056.4"></line>
        <circle cx="926.3" cy="1062.8" r="8.6"></circle>
        <circle cx="960" cy="8.5" r="32.2"></circle>
        <circle cx="960" cy="-41.7" r="12.4"></circle>
        <circle cx="960" cy="58.5" r="12.4"></circle>
      </g>
    </g>
    <g id="mid">
      <g id="mid-greebles">
        <circle cx="889.5" cy="278.5" r="16"></circle>

        <rect
          x="1274"
          y="512.5"
          transform="matrix(0.7071 0.7071 -0.7071 0.7071 762.8271 -762.0531)"
          width="54.6"
          height="54.6"></rect>

        <rect
          x="1193"
          y="522.1"
          transform="matrix(0.7071 0.7071 -0.7071 0.7071 736.4943 -698.0546)"
          width="35.7"
          height="35.7"></rect>
        <circle cx="618.9" cy="540.1" r="38.6"></circle>
        <circle cx="709.2" cy="539.9" r="25.3"></circle>
      </g>
    </g>
    <g id="center">
      <g id="center2">
        <circle cx="1020" cy="601" r="34.5"></circle>
        <line x1="975.5" y1="556.5" x2="995.5" y2="576.5"></line>
      </g>
      <g id="center3-0">
        <circle cx="934.5" cy="515.5" r="8"></circle>
        <rect x="916.5" y="497.5" width="8" height="8"></rect>
      </g>
      <g id="center3-1">
        <circle cx="1012.5" cy="487.5" r="8"></circle>

        <rect
          x="1022.5"
          y="469.5"
          transform="matrix(-1.836970e-16 1 -1 -1.836970e-16 1500 -553)"
          width="8"
          height="8"></rect>
      </g>
      <g id="center3-2">
        <circle cx="878.5" cy="621.5" r="8"></circle>
      </g>
      <g id="center1">
        <line x1="960" y1="518.5" x2="960" y2="456.5"></line>
        <circle cx="960" cy="443.5" r="13"></circle>
      </g>
      <g id="center0">
        <circle cx="960" cy="540" r="22"></circle>
        <line x1="938" y1="540" x2="873.1" y2="540"></line>

        <rect
          x="838.5"
          y="525.5"
          transform="matrix(0.7071 0.7071 -0.7071 0.7071 631.6756 -444.9998)"
          width="29"
          height="29"></rect>
      </g>
    </g>
  </svg>
</div>

<style>
  div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100dvh;
    width: 100dvw;
    z-index: 1;
  }

  svg {
    /* stroke: #f2f7fc48; */
    stroke: #85888b;
    stroke-width: 1.5;
    fill: transparent;
    filter: brightness(0.5);
  }

  #mid-greebles {
    animation: spin 100s linear infinite;
  }
  #center0 {
    animation: spin-reverse 155s linear infinite;
  }
  #center1 {
    animation: spin 130s linear infinite;
  }
  #center2 {
    animation: spin-reverse 140s linear infinite;
  }
  #center3-0 {
    animation: spin-reverse 60s linear infinite;
  }
  #center3-1 {
    animation: spin-reverse 80s linear infinite;
  }
  #center3-2 {
    animation: spin-reverse 100s linear infinite;
  }
  #outter-greebles0 {
    animation: spin-reverse 150s linear infinite;
  }
  #outter-greebles1 {
    animation: spin-reverse 180s linear infinite;
  }
  #outter-square-circle {
    animation: spin 200s linear infinite;
  }
  #outter-dashes {
    stroke-dasharray: 1%, 10%, 1%;
    animation: spin-reverse 200s linear infinite;
  }
  #outter-circle-inner {
    stroke-dasharray: 40, 30;
    animation: spin 255s linear infinite;
  }
  #outter-circle-dashed-outter {
    stroke-dasharray: 50, 20;
    animation: spin 275s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }

  @keyframes spin-reverse {
    0% {
      transform: rotate(0);
    }
    to {
      transform: rotate(-360deg);
    }
  }

  g {
    transform-origin: center;
  }
</style>
