<div class="button">
  <div class="button-shapes">
    <svg width="32" height="24" viewBox="0 0 32 24" class="frame top-left"
      ><path
        fill="#f2f7fc"
        d="M1,24H0v-.7402L23.3096,0h8.6904v1h-8.2764L1,23.6749v.3251ZM0,16.7002V0h16.7397L0,16.7002ZM1,1v13.2901L14.3218,1H1Z"
      ></path></svg
    ><svg width="32" height="24" viewBox="0 0 32 24" class="frame top-right"
      ><path
        fill="#f2f7fc"
        d="M1,24H0v-.7402L23.3096,0h8.6904v1h-8.2764L1,23.6749v.3251ZM0,16.7002V0h16.7397L0,16.7002ZM1,1v13.2901L14.3218,1H1Z"
      ></path></svg
    ><svg width="32" height="24" viewBox="0 0 32 24" class="frame bottom-left"
      ><path
        fill="#f2f7fc"
        d="M1,24H0v-.7402L23.3096,0h8.6904v1h-8.2764L1,23.6749v.3251ZM0,16.7002V0h16.7397L0,16.7002ZM1,1v13.2901L14.3218,1H1Z"
      ></path></svg
    ><svg width="32" height="24" viewBox="0 0 32 24" class="frame bottom-right"
      ><path
        fill="#f2f7fc"
        d="M1,24H0v-.7402L23.3096,0h8.6904v1h-8.2764L1,23.6749v.3251ZM0,16.7002V0h16.7397L0,16.7002ZM1,1v13.2901L14.3218,1H1Z"
      ></path></svg
    ><svg
      width="10"
      height="5.2"
      viewBox="0 0 10 5.2"
      class="frame arrow arrow-top"
      ><polygon
        fill="#f2f7fc"
        points="5 5.2 .9 1 0 1 0 0 1.4 0 5 3.8 8.6 0 10 0 10 1 9 1 5 5.2"
      ></polygon></svg
    ><svg
      width="10"
      height="5.2"
      viewBox="0 0 10 5.2"
      class="frame arrow arrow-bottom"
      ><polygon
        fill="#f2f7fc"
        points="5 5.2 .9 1 0 1 0 0 1.4 0 5 3.8 8.6 0 10 0 10 1 9 1 5 5.2"
      ></polygon></svg
    >
  </div>
  <div class="button-bg">
    <a class="link" href="/resume">button</a>
  </div>
</div>

<style>
  .button-shapes {
    height: 100%;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }
  .button-shapes > * {
    position: absolute;
  }

  .button {
    margin-top: 2rem;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: max-content;

    &:hover > *,
    &:hover svg:not(.arrow) {
      backdrop-filter: contrast(150%) invert(100%);
    }
  }
  .button-bg {
    clip-path: polygon(
      0 24px,
      24px 0,
      /*  */ 47% 0,
      50% 4px,
      53% 0,
      /*  */ calc(100% - 24px) 0,
      100% 24px,
      /*  */ 100% calc(100% - 24px),
      calc(100% - 24px) 100%,
      /*  */ 53% 100%,
      50% calc(100% - 4px),
      47% 100%,
      /*  */ 23px 100%,
      0px calc(100% - 23px)
    );
    border: 1px solid #f2f7fc;
    /* background-color: #f2f7fc; */
    padding: 1px;
    height: auto;
    /* border: 1px solid #f2f7fc; */
    &:hover {
      background-color: transparent;
    }

    /* border: 1px solid #f2f7fc; */
  }

  a.link {
    display: inline-block;
    padding: 1rem 2rem;
    background-color: transparent;
  }

  svg.frame {
    clip-path: polygon(
      17px 0%,
      0 23px,
      23px 0,
      24px 1px,
      1px 24px,
      0 23px,
      17px 0,
      0% 17px,
      0 0
    );
  }
  .top-right {
    left: auto;
    right: 0;
    transform: scaleX(-1);
  }
  .bottom-left {
    bottom: 0;
    left: 0;
    right: auto;
    top: auto;
    transform: scaleY(-1);
  }
  .bottom-right {
    bottom: 0;
    left: auto;
    right: 0;
    top: auto;
    transform: scaleX(-1) scaleY(-1);
  }
  .arrow-top {
    left: 50%;
    top: 0;
    transform: translate(-50%);
  }
  .arrow-bottom {
    bottom: 0;
    left: 50%;
    top: auto;
    transform: translate(-50%) scaleY(-1);
  }
</style>
